@media all and (max-width: 768px){
	.brand-name{
		padding-left: 30px;
	}
	nav{
		padding-right: 30px;
	}
	.toggle{
		display: block;
		padding-right: 30px;
	}
	nav{
		width: 100%;
	}
	nav ul{
		display: none;
		float: none;
		position: static;

	}
	nav ul li{
		display: block;
	}
	nav ul ul{
		position: static;
	}
}